<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<link href="/css/reset.css" th:href="@{/css/reset.css}" rel="stylesheet" />
<link href="/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />
<title>sky</title>
</head>
<body>
<header th:insert="fragments/page_header::pageHeader"></header>
<main>
	<div class="container cart">
		<div>
			<h2 th:if="${destinations != null && destinations.size() > 0}">宛先を選択し、決済を完了します。</h2>
			<p class="info" th:if="${destinations != null && destinations.size() > 0}">宛先の新規登録、削除も可能です。</p>
			<p class="info" th:if="${destinations == null || destinations.size() == 0}">宛先情報がありません。新規登録をしてください。</p>
		</div>
		<table class="destination" th:if="${destinations != null && destinations.size() > 0}">
			<tr>
				<th>選択</th><th>宛先氏名</th><th>住所</th><th>電話番号</th>
			</tr>
			<tr th:each="destination, i: ${destinations}">
				<td><input type="radio" name="destinationId" th:checked="${i.index==0}" class="radio" th:value="${destination.id}"/></td>
				<td>
					<span th:text="${destination.familyName}"></span><span>　</span><span th:text="${destination.firstName}"></span>
				</td>
				<td th:text="${destination.address}">
				<td th:text="${destination.telNumber}">
			</tr>
		</table>
		<div class="buttonArea" style="display: flex-end;">
			<button id="delete" th:if="${destinations != null && destinations.size() > 0}" style="display: inline-block;">削除</button>
			<form name="destinationForm" action="/sky/destination/" style="display: inline-block;">
				<button type="submit" >新規宛先</button>
			</form>
			<button id="settlement" th:if="${destinations != null && destinations.size() > 0}" style="display: inline-block;">決済</button>
		</div>
	</div>

</main>

<script>
	$(() => {
		$('#delete').on('click',deleteDestination);
		$('#settlement').on('click',settlementComplete);
	})
	
	
	let deleteDestination = () => {
		$.ajax({
			type : 'POST',
			url : '/sky/destination/delete',
			data : JSON.stringify( {'destinationId': $('.radio:checked').val()}),
			contentType : 'application/json',
			datatype: 'json',
			scriptCharset : 'utf-8'
		})
		
		.then((result) => {
			if(result){
				$('.radio:checked').parent().parent().remove();
				location.replace('/sky/settlement/')
			}
			else alert('削除失敗')
		},() => {
			alert('Error: ajax connection failed.');
		});
	}
	
	let settlementComplete = () => {
		$.ajax({
			type : 'POST',
			url : '/sky/settlement/complete',
			data : JSON.stringify({'destinationId': $('.radio:checked').val()}),
			contentType : 'application/json',
			datatype: 'json',
			scriptCharset : 'utf-8'
		})
		
		.then((result) => {
			if(result){
				location.replace('/sky/history/')
			}
			else alert('決済失敗')
		},() => {
			alert('Error: ajax connection failed.');
		});
	}
</script>

</body>
</html>